* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}

.menu-content{
    background: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid #0F9AFE;
    border-top: 0.1rem solid #0F9AFE;

}

.menu ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu ul li a{
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    color: #0F9AFE;
    position: relative;
}

a{
    text-decoration: none;
}

.menu-logo a{
    padding: 1rem;
    color: #0F9AFE;
}

.img-content{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 240px;
    top: 0px;
}

.lanterninhabase{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 72px;
    top: 41px;
}

.home-text-content {
    color: white;
    align-items: center;
    width: 400px;
    height: 500px;
    padding: 5rem;
}

.home-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    min-height: 100vh;
    gap: 3rem;
    padding-top: 5rem;
}

.img-intro{
    max-width:750px;
    max-height:400px;
    width: auto;
    height: auto;
    border: 0.2rem solid #0F9AFE;
}

.intro-img-content{
    padding: 5rem 5rem 5rem 5rem;
}

.home-main-content{
    display: flex;
    justify-content: space-between;
}

.francio-text-content{
    color: aliceblue;
}

.close-menu {
    display: none;
  }

@media (max-width: 932px){
    .menu {
        bottom: 0;
        text-align: center;
      }
    
      .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
      }
    
      .menu-content {
        height: 100vh;
      }
    
      .menu {
        display: none;
      }
    
      .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: #1d1d1d;
        color: white;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
      }
    
      .close-menu:checked~.menu {
        display: block;
      }
    
      .close-menu:checked~.close-menu-label::after {
        content: '×';
      }
    
      .menu-spacing {
        display: none;
      }

      .menu-content img{
        display: none;
      }
      .logo-content{
        align-items: center;
        padding-bottom: 3rem;
      }
    }
    